/* livvic-regular - latin */
@font-face {
    font-family:"Livvic";
    font-weight: 400;
    font-display: swap; 
    src: url("../fonts/livvic400.woff2") format("woff2");
  }

  /* livvic-600 - latin */
  @font-face {
      font-family: "Livvic";
      font-weight: 600;
      font-display: swap; 
    src: url("../fonts/livvic600.woff2") format("woff2");
  }

  /* livvic-700 - latin */
  @font-face {
      font-family: "Livvic";
      font-weight: 700;
      font-display: swap; 
    src: url("../fonts/livvic700.woff2") format("woff2");
  }